<ion-tabs class="tabs-striped tabs-background-dark tabs-color-light">
	
	<ion-tab title="First" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/first">

		<ion-nav-view name="first-tab">
		</ion-nav-view>

	</ion-tab>
	<ion-tab title="Second" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/second">

		<ion-nav-view name="second-tab">
		</ion-nav-view>

	</ion-tab>
	<ion-tab title="Third" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/tab/third">

		<ion-nav-view name="third-tab">
		</ion-nav-view>

	</ion-tab>

</ion-tabs>